loki:
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  ingester:
    chunk_encoding: snappy
  querier:
    # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
    max_concurrent: 4
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
deploymentMode: SimpleScalable
lokiCanary:
  enabled: true
backend:
  replicas: 2
gateway:
  replicas: 2
  basicAuth:
    enabled: true
    existingSecret: loki-tenants
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: loki.localtest.me
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
        - loki.localtest.me
read:
  replicas: 2
write:
  replicas: 3 # To ensure data durability with replication
minio:
  enabled: true
